<div class="container-fluid">
    <div class="row barCC">
            <!-- <div class="pieContainer">
            <canvas height="400" class="barchart" id="lineChart" style="max-height: 400px; max-width: 90%;"></canvas>
            </div> -->
            <div  class="pieContainer">
                <canvas height="130" class="barchart" id="stationchart" style="max-height: 130px; max-width: 90%;"></canvas>

            </div>
            <div class="pieContainer"> 
                <div class="stat-card">
                    <div class="row align-items-center">
                      <div class="col">
                        <div class="stat-title">Total Findings</div>
                        <div class="stat-number">370</div>
                      </div>
                      <div class="col-auto">
                        <span class="stat-icon">
                          <i class="bi bi-house"></i>
                        </span>
                      </div>
                    </div>
                    <div class="change-indicator change-down">
                      <i class="bi bi-arrow-down-circle"></i> 
                      <p class="m-0" style="color: rgb(29, 28, 28);">10% increase in findings YTD</p>
                    </div>
                  </div>
            </div>
            <div class="pieContainer"> 
                <div class="stat-card">
                    <div class="row align-items-center">
                      <div class="col">
                        <div class="stat-title">Reports Not Linked</div>
                        <div class="stat-number">1270</div>
                      </div>
                      <div class="col-auto">
                        <span class="stat-icon">
                          <i class="bi bi-journal-bookmark"></i>
                        </span>
                      </div>
                    </div>
                    <div class="change-indicator change-up">
                      <i class="bi bi-arrow-up-circle"></i> 
                      <p class="m-0" style="color: rgb(29, 28, 28);">10% count Decreased</p>
                    </div>
                  </div>
            </div>
        </div>
</div>
