<form class="add-form">
    <mat-label>Office</mat-label>
    <input type="radio" placeholder="Office">

    <mat-label>Vessel</mat-label>
    <input   type="radio" placeholder="Vessel">

  <div class="form-check form-switch mt-3">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">My Vessel</label>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput placeholder="Select date">
   
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Report Type</mat-label>
    <mat-select>
      <mat-option value="type1">Type 1</mat-option>
      <mat-option value="type2">Type 2</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Action</mat-label>
    <mat-select>
      <mat-option value="action1">Action 1</mat-option>
      <mat-option value="action2">Action 2</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>From Date</mat-label>
    <input matInput  placeholder="Select date">
    
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>To Date</mat-label>
    <input matInput  placeholder="Select date">
    
  </mat-form-field>

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>content_copy</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</form>
