<app-header></app-header>
<div class="margin-60">
  <div class="d-flex justify-content-between">
    <div>
      <h2 class="p-3 pb-0 text-align-start m-0 fw-bold">Action Summary</h2>
      <nav class="mx-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">LSPQ</a></li>
          <li class="breadcrumb-item active" aria-current="page">Action Summary</li>
        </ol>
      </nav>
    </div>
    <div class="m-3">
      <div class="input-group">
        <span><i class="bi bi-filetype-pdf"></i></span>
        <span ><i class="bi bi-file-earmark-excel-fill"></i></span>
        <span><i class="bi bi-camera"></i></span>
      </div>
    </div>
  </div>
 <div class="cross-through mx-3">
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary ">Followup Actions</button>
    <button class="btn btn-light">workflow Actions</button>
  </div>
</div>
 
<div class="mx-2">
  <app-add-book></app-add-book>
</div>
  <div class="m-3 mb-5 mt-0">
  <app-charts></app-charts>
  <h2 class="p-3 pb-0 text-align-start m-0 fw-bold">Search Data</h2>
  <app-summary-report></app-summary-report>
  </div>
</div>

<footer>
  <p class="m-0" >Copyrights 2008-2024 MariaApps Marine Solutions Pvt Ltd. All Rights Received</p>
</footer>